<h3>You have a new attendant!</h3> <br /><br />
<h5>{{ attendant.user.first_name }} {{ attendant.user.last_name }} is attending your event:</h5>
<p>
  {{ meetup.title }} <br>
  at {{ meetup.location}} <br>
  on {{ meetup.date }}
</p>